<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <!-- Font roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Icon fontanwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link rel="stylesheet" href="./assets/css/library.css">
    <link href="./assets/owlCarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Layout -->
    <link rel="stylesheet" href="./assets/css/common.css">
    <!-- index -->
    <link href="./assets/css/home.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script src="./assets/owlCarousel/owl.carousel.min.js"></script>

</head>

<body>
    <div class="header scrolling" id="myHeader">
        <div class="grid wide">
            <div class="header__top">
                <div class="navbar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="index.html" class="header__logo">
                    <img src="./assets/logo.png" alt="">
                </a>
                <div class="header__search">
                    <div class="header__search-wrap">
                        <input type="text" class="header__search-input" placeholder="Tìm kiếm">
                        <a class="header__search-icon" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="header__account">
                    <a href="#my-Login" class="header__account-login">Đăng Nhập</a>
                    <a href="#my-Register" class="header__account-register">Đăng Kí</a>
                </div>
                <!-- Cart -->
                <div class="header__cart have" href="#">
                    <i class="fas fa-shopping-basket"></i>
                    <div class="header__cart-amount">
                        3
                    </div>
                    <div class="header__cart-wrap">
                        <ul class="order__list">
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a href="product.html" class="order-img">
                                        <img src="./assets/img/product/product3.jpg" alt="">
                                    </a>
                                    <div class="order-main">
                                        <a href="product.html" class="order-main-name">Cà phê latte matcha</a>
                                        <div class="order-main-price">2 x 44,000 ₫</div>
                                    </div>
                                    <a href="product.html" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a href="product.html" class="order-img">
                                        <img src="./assets/img/product/product4.jpg" alt="">
                                    </a>
                                    <div class="order-main">
                                        <a href="product.html" class="order-main-name">Cà phê cam</a>
                                        <div class="order-main-price">2 x 43,000 ₫</div>
                                    </div>
                                    <a href="product.html" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a href="product.html" class="order-img">
                                        <img src="./assets/img/product/product5.jpg" alt="">
                                    </a>
                                    <div class="order-main">
                                        <a href="product.html" class="order-main-name">Cà phê đen</a>
                                        <div class="order-main-price">30,000 ₫</div>
                                    </div>
                                    <a href="product.html" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="total-money">Tổng cộng: 204.000đ</div>
                        <a href="cart.html" class="btn btn--default cart-btn">Xem giỏ hàng</a>
                        <a href="pay.html" class="btn btn--default cart-btn orange">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item nav__search">
                    <div class="nav__search-wrap">
                        <input class="nav__search-input" type="text" name="" id="" placeholder="Tìm sản phẩm...">
                    </div>
                    <div class="nav__search-btn">
                        <i class="fas fa-search"></i>
                    </div>
                </li>
                <li class="header__nav-item authen-form">
                    <a href="#" class="header__nav-link">Tài Khoản</a>
                    <ul class="sub-nav">
                        <li class="sub-nav__item">
                            <a href="#my-Login" class="sub-nav__link">Đăng Nhập</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#my-Register" class="sub-nav__link">Đăng Kí</a>
                        </li>
                    </ul>
                </li>
                <li class="header__nav-item index">
                    <a href="index.html" class="header__nav-link">Trang chủ</a>
                </li>
                <li class="header__nav-item">
                    <a href="introduce.html" class="header__nav-link">Giới Thiệu</a>
                </li>
                <li class="header__nav-item">
                    <a href="listProduct.html" class="header__nav-link">Sản Phẩm</a>
                </li>
                <li class="header__nav-item">
                    <a href="news.html" class="header__nav-link">Tin Tức</a>
                </li>
                <li class="header__nav-item">
                    <a href="contact.html" class="header__nav-link">Liên Hệ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <!-- Slider -->
        <div class="main__slice">
            <div class="slider">
                <div class="slide active" style="background-image:url(./assets/img/slider/slide-6.jpg)">
                    <div class="container">
                        <div class="caption">
                            <h1>Giảm giá 20%</h1>
                            <p>Giảm giá cực sốc trong tháng 10!</p>
                            <a href="listProduct.html" class="btn btn--default">Xem ngay</a>

                        </div>
                    </div>
                </div>
                <div class="slide active" style="background-image:url(./assets/img/slider/slide-4.jpg)">
                    <div class="container">
                        <div class="caption">
                            <h1>Giảm giá 20%</h1>
                            <p>Giảm giá cực sốc trong tháng 10!</p>
                            <a href="listProduct.html" class="btn btn--default">Xem ngay</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- controls  -->
            <div class="controls">
                <div class="prev">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="next">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <!-- indicators -->
            <div class="indicator">
            </div>
        </div>
        <!--Product Category -->
        <div class="main__tabnine">
            <div class="grid wide">
                <!-- Tab items -->
                <div class="tabs">
                    <div class="tab-item active">
                        Bán Chạy
                    </div>
                    <div class="tab-item">
                        Giá tốt
                    </div>
                    <div class="tab-item">
                        Mới Nhập
                    </div>
                    <div class="line"></div>
                </div>
                <!-- Tab content -->
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Bạc xỉu</h3>
                                        <div class="product__price">
                                            <div class="price__new">38.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product2.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê nước cốt dừa</h3>
                                        <div class="product__price">
                                            <div class="price__old">34.000 <span class="price__unit">đ</span></div>
                                            <div class="price__new">32.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <div class="product__sale">
                                        <span class="product__sale-percent">22%</span>
                                        <span class="product__sale-text">Giảm</span>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product3.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê latte matcha</h3>
                                        <div class="product__price">
                                            <div class="price__old">50.000 <span class="price__unit">đ</span></div>
                                            <div class="price__new">44.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <div class="product__sale">
                                        <span class="product__sale-percent">12%</span>
                                        <span class="product__sale-text">Giảm</span>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product4.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê cam</h3>
                                        <div class="product__price">
                                            <div class="price__old">48.000 <span class="price__unit">đ</span></div>
                                            <div class="price__new">43.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <div class="product__sale">
                                        <span class="product__sale-percent">10%</span>
                                        <span class="product__sale-text">Giảm</span>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product5.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê đen</h3>
                                        <div class="product__price">
                                            <div class="price__new">30.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product6.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê sương sáo</h3>
                                        <div class="product__price">
                                            <div class="price__new">32.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product7.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê Tequila</h3>
                                        <div class="product__price">
                                            <div class="price__new">60.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product8.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê kem Caramel</h3>
                                        <div class="product__price">
                                            <div class="price__new">62.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product9.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê Lungo</h3>
                                        <div class="product__price">
                                            <div class="price__new">56.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product10.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">cà phê Macchiato vị caramel</h3>
                                        <div class="product__price">
                                            <div class="price__new">66.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="row">
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product11.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Latte macchiato</h3>
                                        <div class="product__price">
                                            <div class="price__new">54.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product12.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê Latte</h3>
                                        <div class="product__price">
                                            <div class="price__new">50.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product13.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê Tiramisu</h3>
                                        <div class="product__price">
                                            <div class="price__new">52.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product14.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê sữa đá</h3>
                                        <div class="product__price">
                                            <div class="price__new">48.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product15.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê đá Latte</h3>
                                        <div class="product__price">
                                            <div class="price__new">50.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product16.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê Espresso</h3>
                                        <div class="product__price">
                                            <div class="price__new">60.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="row">
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product17.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê kem</h3>
                                        <div class="product__price">
                                            <div class="price__new">42.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product18.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cappuccino</h3>
                                        <div class="product__price">
                                            <div class="price__new">46.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product19.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê trứng</h3>
                                        <div class="product__price">
                                            <div class="price__new">40.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                            <div class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt" style="background-image: url(assets/img/product/product20.jpg)">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">Cà phê Ireland</h3>
                                        <div class="product__price">
                                            <div class="price__new">54.000 <span class="price__unit">đ</span></div>
                                        </div>
                                    </div>
                                    <a href="#" class="viewDetail">Xem chi tiết</a>
                                    <a href="#" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HightLight  -->
        <div class="main__frame">
            <div class="grid wide">
                <h3 class="category__title">Fresh Coffee</h3>
                <h3 class="category__heading">SẢN PHẨM NỔI BẬT</h3>
                <div class="owl-carousel hight owl-theme">
                    <div class="product">
                        <div class="product__avt" style="background-image: url(./assets/img/product/product4.jpg);">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">Cà phê cam</h3>
                            <div class="product__price">
                                <div class="price__old">
                                    48.000 đ
                                </div>
                                <div class="price__new"> 43.000<span class="price__unit">đ</span></div>
                            </div>
                            <div class="product__sale">
                                <span class="product__sale-percent">Giảm</span>
                                <span class="product__sale-text">10%</span>
                            </div>
                        </div>
                        <a href="product.html" class="viewDetail">Xem chi tiết</a>
                        <a href="cart.html" class="addToCart">Thêm vào giỏ</a>
                    </div>
                    <div class="product">
                        <div class="product__avt" style="background-image: url(./assets/img/product/product5.jpg);">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">Cà phê đen</h3>
                            <div class="product__price">
                                <div class="price__new"> 30.000<span class="price__unit">đ</span></div>
                            </div>
                            <div class="product__sale">
                                <span class="product__sale-percent">Hot</span>
                                <span class="product__sale-text">Sale</span>
                            </div>
                        </div>
                        <a href="product.html" class="viewDetail">Xem chi tiết</a>
                        <a href="cart.html" class="addToCart">Thêm vào giỏ</a>
                    </div>
                    <div class="product">
                        <div class="product__avt" style="background-image: url(./assets/img/product/product6.jpg);">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">Cà phê sương sáo</h3>
                            <div class="product__price">
                                <div class="price__new"> 32.000<span class="price__unit">đ</span></div>
                            </div>
                            <div class="product__sale">
                                <span class="product__sale-percent">Hot</span>
                                <span class="product__sale-text">Sale</span>
                            </div>
                        </div>
                        <a href="product.html" class="viewDetail">Xem chi tiết</a>
                        <a href="cart.html" class="addToCart">Thêm vào giỏ</a>
                    </div>
                    <div class="product">
                        <div class="product__avt" style="background-image: url(./assets/img/product/product7.jpg);">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">Cà phê Tequila</h3>
                            <div class="product__price">
                                <div class="price__new"> 60.000<span class="price__unit">đ</span></div>
                            </div>
                            <div class="product__sale">
                                <span class="product__sale-percent">Hot</span>
                                <span class="product__sale-text">Sale</span>
                            </div>
                        </div>
                        <a href="product.html" class="viewDetail">Xem chi tiết</a>
                        <a href="cart.html" class="addToCart">Thêm vào giỏ</a>
                    </div>
                    <div class="product">
                        <div class="product__avt" style="background-image: url(./assets/img/product/product8.jpg);">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">Cà phê kem Caramel</h3>
                            <div class="product__price">
                                <div class="price__new"> 62.000<span class="price__unit">đ</span></div>
                            </div>
                            <div class="product__sale">
                                <span class="product__sale-percent">Hot</span>
                                <span class="product__sale-text">Sale</span>
                            </div>
                        </div>
                        <a href="product.html" class="viewDetail">Xem chi tiết</a>
                        <a href="cart.html" class="addToCart">Thêm vào giỏ</a>
                    </div>
                    <div class="product">
                        <div class="product__avt" style="background-image: url(./assets/img/product/product9.jpg);">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">Cà phê Lungo</h3>
                            <div class="product__price">
                                <div class="price__new"> 56.000<span class="price__unit">đ</span></div>
                            </div>
                            <div class="product__sale">
                                <span class="product__sale-percent">Hot</span>
                                <span class="product__sale-text">Sale</span>
                            </div>
                        </div>
                        <a href="product.html" class="viewDetail">Xem chi tiết</a>
                        <a href="cart.html" class="addToCart">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sales Policy -->
        <div class="main__policy">
            <div class="row">
                <div class="col l-3 m-6">
                    <div class="policy bg-1">
                        <img src="./assets/img/policy/policy1.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">GIAO HÀNG MIỄN PHÍ</h3>
                            <p class="policy__description">Cho đơn hàng từ 200K</p>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6">
                    <div class="policy bg-2">
                        <img src="./assets/img/policy/policy2.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">ĐỔI TRẢ HÀNG</h3>
                            <p class="policy__description">Trong 2 giờ đầu tiên</p>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6">
                    <div class="policy bg-1">
                        <img src="./assets/img/policy/policy3.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">SẢN PHẨM TỰ NHIÊN</h3>
                            <p class="policy__description">Cam kết chất lượng</p>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6">
                    <div class="policy bg-2">
                        <img src="./assets/img/policy/policy4.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">TƯ VẤN 24/24</h3>
                            <p class="policy__description">Giải đáp mọi thắc mắc</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- News -->
        <div class="main__frame bg-3">
            <div class="grid wide">
                <h3 class="category__title">Fresh Coffee</h3>
                <h3 class="category__heading">Tin Tức</h3>
                <div class="owl-carousel news owl-theme">
                    <a href="news.html" class="news">
                        <div class="news__img">
                            <img src="./assets/img/news/news1.jpg" alt="">
                        </div>
                        <div class="news__body">
                            <h3 class="news__body-title">Văn hóa cà phê của người Việt</h3>
                            <p class="news__description">
                            Cà phê không biết từ bao giờ đã trở nên gần gũi và quen thuộc với người dân Việt Nam đến thế. Cái vị đăng đắng, đầm đậm bên đầu lưỡi, hương thơm dịu, mùi đất lan tỏa bên tách cà phê khiến cho người ta phải ngất ngây…   
                            </p>
                        </div>
                    </a>
                    <a href="news.html" class="news">
                        <div class="news__img">
                            <img src="./assets/img/news/news2.jpg" alt="">
                        </div>
                        <div class="news__body">
                            <h3 class="news__body-title">Tâm sự của một hạt cà phê</h3>
                            <p class="news__description">
                                Tôi tin rằng, mọi thứ tồn tại trên đời này đều có lý do của nó. Có thể đến hiện tại, bạn chưa nhận nhưng đừng bỏ cuộc. Hãy tiếp tục cố gắng đi tìm câu trả lời...
                            </p>
                        </div>
                    </a>
                    <a href="news.html" class="news">
                        <div class="news__img">
                            <img src="./assets/img/news/news3.jpg" alt="">
                        </div>
                        <div class="news__body">
                            <h3 class="news__body-title">Cà phê một mình</h3>
                            <p class="news__description">
                                Người ta nói, người thích cà phê một mình là những người cô đơn. Họ chỉ mong tìm được hơi ấm giữa những người xa lạ. Cùng với những câu chuyện mà cho dù có nghe cũng chưa chắc đã hiểu hết... 
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__bands">
            <div class="grid wide">
                <div class="owl-carousel bands">
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band1.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band2.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band3.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band4.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band5.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band6.png)"></a>
                    <a href="listProduct.html" class="band__item" style="background-image: url(./assets/img/band/band7.png)"></a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="grid wide">
            <div class="row">
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Menu</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Đồ uống</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Đồ ăn</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Hỗ trợ khách hàng</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Hướng dẫn mua hàng</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Giải đáp thắc mắc</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Chính sách mua hàng</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Chính sách đổi trả</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Liên hệ</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <span class="footer__text">
                                    <i class="fas fa-map-marked-alt"></i> Trường Đại học Thương Mại, Mai Dịch, Cầu Giấy, Hà Nội
                                </span>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                <i class="fas fa-phone"></i> 098 765 4321
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                <i class="fas fa-envelope"></i> team4_monthietkeweb@gmail.com
                            </a>
                        </li>
                        <li class="footer__item">
                            <div class="social-group">
                                <a href="#" class="social-item"><i class="fab fa-facebook-f"></i>
                                    </a>
                                <a href="#" class="social-item"><i class="fab fa-twitter"></i>
                                    </a>
                                <a href="#" class="social-item"><i class="fab fa-pinterest-p"></i>
                                    </a>
                                <a href="#" class="social-item"><i class="fab fa-invision"></i>
                                    </a>
                                <a href="#" class="social-item"><i class="fab fa-youtube"></i>  
                                    </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Đăng kí</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <span class="footer__text">Đăng ký để nhận được được thông tin ưu đãi mới nhất từ chúng tôi.</span>
                        </li>
                        <li class="footer__item">
                            <div class="send-email">
                                <input class="send-email__input" type="email" placeholder="Nhập Email...">
                                <a href="#" class="send-email__link">
                                    <i class="fas fa-paper-plane"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Form -->
    <div class="ModalForm">
        <div class="modal" id="my-Register">
            <a href="#" class="overlay-close"></a>
            <div class="authen-modal register">
                <h3 class="authen-modal__title">Đăng Kí</h3>
                <div class="form-group">
                    <label for="account" class="form-label">Họ Tên</label>
                    <input id="account" name="account" type="text" class="form-control">
                    <span class="form-message">Không hợp lệ !</span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Tài khoản Email *</label>
                    <input id="password" name="password" type="text" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu *</label>
                    <input id="password" name="password" type="text" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Nhập lại mật khẩu *</label>
                    <input id="password" name="password" type="text" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="authen__btns">
                    <div class="btn btn--default">Đăng Kí</div>
                </div>
            </div>
        </div>
        <div class=" modal" id="my-Login">
            <a href="#" class="overlay-close"></a>
            <div class="authen-modal login">
                <h3 class="authen-modal__title">Đăng Nhập</h3>
                <div class="form-group">
                    <label for="account" class="form-label">Địa chỉ email *</label>
                    <input id="account" name="account" type="text" class="form-control">
                    <span class="form-message">Tài khoản không chính xác !</span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu *</label>
                    <input id="password" name="password" type="text" class="form-control">
                    <span class="form-message"></span>
                </div>
                <div class="authen__btns">
                    <div class="btn btn--default">Đăng Nhập</div>
                    <input type="checkbox" class="authen-checkbox">
                    <label class="form-label">Ghi nhớ mật khẩu</label>
                </div>
                <a class="authen__link">Quên mật khẩu ?</a>
            </div>
        </div>
        <div class="up-top" id="upTop" onclick="goToTop()">
            <i class="fas fa-chevron-up"></i>
        </div>

    </div>
    <script>
        $('.owl-carousel.hight').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
        $('.owl-carousel.news').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        })
        $('.owl-carousel.bands').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
    <!-- Script common -->
    <script src="./assets/js/homeScript.js"></script>
    <script src="./assets/js/commonscript.js"></script>
</body>

</html>